@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3FFF3;
}

.header {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 80px;
    background-color: #C1FFD1;
}

.header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 80px;
    margin-left: 20px;
}

.header h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    color: #262D33;
}