@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

body h1 {
    margin-top: 30px;
    font-weight: 400;
    color: #3874a8;
}

.chart1 .chart2 .chart3 .chart4 {
    background-color: azure;
    overflow: hidden;
}