@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3fff3;
}

body h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.svg-container {
    background-color: #c3f3c3;
    border-radius: 5px;
}